@using Common.Enums
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Food Hygiene Rating API Consumer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Food Hygiene Rating Api Consumer V2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="true" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                                Language
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("English (Default)", "Index", "Home", new { area = "", language = LanguageEnum.English.ToString() }, null)</li>
                                <li>@Html.ActionLink("Welsh", "Index", "Home", new { area = "", language = LanguageEnum.Welsh.ToString() }, null)</li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()

        <hr/>
        <footer>
            <div class="footer">
                <div class="footer">
                    <div class="container">
                        <p>&copy; @DateTime.Now.Year - Steven Liu
                            <a href="mailto:xian.f.liu@gmail.com">xian.f.liu@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
